.card:hover{
    animation: moveAniHover .2s;
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #ccc;
    transform: translateY(-4px);

}   

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@keyframes moveAniHover {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-4px);
    }
}

@keyframes Opacity {
    from{
        opacity: 0.7;
    }
    to{
        opacity: 1;
    }
}