<!-- HOANG Class signup  -->
<!-- dùng để tạo phần giao diện ở trên web phần đăng nhập -->
{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container mt-10">
	<form action="/login" method="POST">
		{% csrf_token %}
		<div class="row justify-content-md-center">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="login-screen">
					<div class="login-box">
						<h3 class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
                        {% if error%}
							<div class="alert alert-danger" role="alert">
								{{error}}
							</div>
                		{%endif%}
						<div class="row gutters">
							<div class="">
								<div class="form-group">
                                    <input required type="email" class=" form-control-sm form-control "  name="email" id="" value="{{values.email}}" placeholder="example@gmail.com">
								</div>
							</div>
							<div class="">
								<div class="form-group">
                                    <input type="password" class="form-control form-control-sm"  name="password" id=""  placeholder="********">
								</div>
							</div>
						</div>
							
						<div class="actions clearfix">
							<button type="submit" class="btn btn-primary btn-block">Login</button>
						</div>
						
						<a href="/signup" class="additional-link">Have an Account? <span>Signup Now</span></a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}