{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Hình ảnh</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Ngày đặt hàng - Địa chỉ</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>
                        {{order.date}}
                        <br> {{order.address}}
                    </td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {% else %}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}
                    <td>
                        <form action="/orders" method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='remove' value='{{order.id}}'>
                            <input type="submit" value="Hủy đơn này" class="btn bg-danger text-white">
                        </form>
                    </td>
                </tr>

                {% endfor %}
               
            </tbody>


        </table>


   </div>
</div>



{% endblock %}